<h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>
  <p>Email: {{user.email}}</p>
  <p>Rol: {{user.role}}</p>
  <a href="/api/sessions/logout">Logout</a>

<h2>Real time products</h2>

<div id="contenedorProductos"></div>

<h3>Agrega productos</h3>

<form>
  <input type="text" id="title" placeholder="Titulo" />
  <input type="text" id="description" placeholder="Descripcion" />
  <input type="number" id="price" placeholder="Precio" />
  <input type="text" id="thumbnail" placeholder="Sin Imagen" />
  <input type="text" id="code" placeholder="Codigo" />
  <input type="number" id="stock" placeholder="Stock" />
 <input type="text" id="category" placeholder="Categoria" />
  <button id="btnEnviar">Enviar</button>
</form>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/index.js"></script>